.customButton {
    border-radius: 100px;
    padding: 12px 18px;
    min-width: 113px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: var(--white-1000);
    transition: all 0.2s ease-in-out;
}
.primary {
    background-color: var(--primary-200main);
    &:hover {
        background: var(--primary-300);
    }
    &:active {
        box-shadow: inset 5px 6px 4px 0 rgba(12, 17, 31, 0.3);
        background: var(--primary-400);
    }
}
.secondary {
    font-family: inherit;
    font-weight: 500;
    color: var(--primary-200main);
    border: 2px solid var(--primary-200main);
    border-radius: 100px;
    background: var(--secondary-1000);
    &:hover {
        background: var(--secondary-1000);
    }
}
/* sizes */
.normal {
    font-size: 14px;
}
.large {
    font-size: 18px;
    padding: 16px 48px;
    line-height: 1.55556;
}