.bannerWrapper {
    overflow: hidden;
    width: 100%;
    background: var(--white-1000);
}

.banners {
    display: flex;
    gap: 40px;
    width: max-content; 
    animation: slide-left 20s linear infinite;
}

.bannerItem {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background: var(--color-secondary-1000);
    flex: 0 0 auto; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}