.innerSection {
    padding: 40px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: var(--white-1000);
    border-radius: 12px;
}
.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: var(--secondary-1000);
    text-align: center;
    margin-bottom: 68px;
}
.list {
    display: flex;
    gap: 56px;
}
.listItem {
    background: var(--green-small-carts);
    padding: 34px 24px 24px;
    border-radius: 12px;
    /*width: 368px;*/
}
.listTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-1000);
    margin-bottom: 8px;
}
.listText {
    line-height: 1.5;
    color: var(--grey-400);
}
.iconBg {
    border-radius: 8px;
    padding: 10px;
    background: var(--white-1000);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}