
.listItem {
    background: var(--green-small-carts);
    padding: 34px 24px 24px;
    border-radius: 12px;
    /*width: 368px;*/
}
.listTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-1000);
    margin-bottom: 8px;
}
.listText {
    line-height: 1.5;
    color: var(--grey-400);
}
.iconBg {
    border-radius: 8px;
    padding: 10px;
    background: var(--white-1000);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}