.header {
    backdrop-filter: blur(6px);
    box-shadow: 0 20px 14px 0 rgba(21, 20, 24, 0.4);
    background: var(--header);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.menuList {
    display: flex;
    gap: 36px;
}
.menuListItem {
    padding: 34px 0;
}

.menuLink {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    color: var(--white-1000);
    position: relative;
    transition: color 0.2s;
    &:hover {
        color: var(--primary-50);
    }
}
.menuLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-50);
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.menuLink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
